/* blue: #253E5E */
/* light blue: #4994D0 */
/* dark green: #434F39 */
/* light green: #586742 */


/*   SLIDES   */

.slide
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 105vh;
    position: fixed;
    width: 100%;
    -webkit-transform: translateY(30vh);
    transform: translateY(30vh);
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.slide:first-child
{
    background-image: url(https://github.com/NOSDOOM/picturehost/raw/master/xZMOBTj.jpg);
    -webkit-transform: translateY(-15vh);
    transform: translateY(-15vh);
    z-index: 3;
}
.slide:first-child .content-wrapper
{
  -webkit-transform: translateY(15vh);
  transform: translateY(15vh);
/*
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
*/
  overflow: hidden;
}

.slide:nth-child(2)
{
    background-image: url("https://github.com/NOSDOOM/picturehost/raw/master/4Aihmii.jpg");
    z-index: 2;
}
.slide:nth-child(3)
{
    height: 115vh;
    background-image: url("https://i.redd.it/4vqygabli4mx.jpg");
    z-index: 1;
}

.content-wrapper
{
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;
    color: #fff;
    font-family: Montserrat;
    text-transform: uppercase;
    -webkit-transform: translateY(40vh);
    transform: translateY(40vh);
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

/* ------------- SET TRANSFORM VALUES ------------- */

.slide.up-scroll {
    -webkit-transform: translate3d(0, -15vh, 0);
    transform: translate3d(0, -15vh, 0);
}
.slide.up-scroll .content-wrapper {
    -webkit-transform: translateY(15vh);
    transform: translateY(15vh);
}
.slide.up-scroll + .background {
    -webkit-transform: translate3d(0, 30vh, 0);
    transform: translate3d(0, 30vh, 0);
}
.slide.up-scroll + .background .content-wrapper {
    -webkit-transform: translateY(30vh);
    transform: translateY(30vh);
}

.slide.down-scroll {
    -webkit-transform: translate3d(0, -130vh, 0);
    transform: translate3d(0, -130vh, 0);
}
.slide.down-scroll .content-wrapper {
    -webkit-transform: translateY(40vh);
    transform: translateY(40vh);
}
.slide.down-scroll + .background:not(.down-scroll) {
    -webkit-transform: translate3d(0, -15vh, 0);
    transform: translate3d(0, -15vh, 0);
}
.slide.down-scroll + .slide:not(.down-scroll) .content-wrapper {
    -webkit-transform: translateY(15vh);
    transform: translateY(15vh);
}