.slide:first-child
{
  z-index: 3;
  margin-top: 0;
}
.slide:nth-child(2)
{
  z-index: 2;
}
.slide:last-child
{
  z-index: 1;
  padding-bottom: 30px;
}

.slide h1
{
    width: 100%;
    margin-bottom: 30px;
}

/* ------------- LINKS ------------- */

#links .content-wrapper
{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#links .content-wrapper ul
{
    margin: 15px;
    min-width: 260px;
    width: calc(100% / 3);
}

/* ------------- PASSPORT ------------- */

#passport .bg
{
    background: var(--blue);
    background-image: var(--lines);
}

#passport .content-wrapper
{
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.passportSpot
{
    margin: 30px;
    margin-top: 0;
}
.passportSpot img
{
    width: 100%;
    margin: 0 auto;
}

.passportInfo
{
    width: 60%;
    flex-grow: 1;
    min-width: 260px;
    max-width: 700px;
}

#passport .buttons
{
    min-width: 260px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#passport button
{
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0 auto;
    margin-top: 30px;
    padding: 5px 15px;
    border-radius: 50px;
    background: var(--light-blue);
    border: none;
    cursor: pointer;
    transform: scale(.9);
}
#passport button:hover
{
    transform: scale(1);
}

/* ------------- SCHOOLS ------------- */

#schools .grid
{
/*    width: 75%;*/
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.grid img
{
    max-width: 200px;
    max-height: 100px;
    margin-right: 30px;
    margin-bottom: 15px;
}

/* ------------- MEDIA QUERIES ------------- */

@media (max-width: 629px)
{    
    #passport h1
    {
        display: none;
    }
}