/* blue: #253E5E */
/* light blue: #4994D0 */
/* dark green: #434F39 */
/* light green: #586742 */
/* gray: #999999 */

body
{
    background-image: url(../img/topographyBlue.png);
    background-size: 300px;
}

/*    CONTENT    */

#content
{
    padding: 170px 0 30px 0;
    position: absolute;
    left: -10%;
    right: -10%;
    margin: 0 auto;
}
.industryRow
{
    width: 100%;
    position: relative;
    margin-bottom: 150px;
}

/*    BANNERS    */

.industryRow:nth-child(odd) .banner
{
    background: #586742;
}
.banner
{
    position: relative;
    z-index: 4;
    padding: 15px calc(10% + 20px);
    margin: 0 auto;
    background: #4994D0;
    transform: rotate(5deg);
    cursor: pointer;
    box-shadow: 0 0 20px black;
}
.banner h1
{
    text-align: center;
    font-size: 3.5em;
}
.banner:hover h1
{
    letter-spacing: 2px;
}

/*    INFO BOX    */

.infoBox
{
    z-index: 0;
    top: calc(100% - 50px);
    left: 0;
    right: 0;
    width: calc(100vw - 195px);
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0 30px;
    max-height: 0;
    transform-origin:top;
    overflow: hidden;
    background-image: url(../img/topographyGreen.png);
    background-size: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: max-height .5;
    transition: padding .5;
    box-shadow: 0 0 15px black;
}
.copy
{
    max-width: 500px;
    margin-top: 50px;
}
.copy button
{
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 1em;
    border: none;
}
.map
{
    margin-top: 80px;
}
.map img
{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    height: auto;
}
.jobs, .sponsors
{
    margin-top: 30px;
    text-align: center;
}
.jobs li, .sponsors li
{
    margin-top: 5px;
}
article.openInfo
{
    padding-top: 30px;
    padding-bottom: 30px;
    max-height: 5000px;
}

/*    VIDEO BOX    */

.videoBox
{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    background: teal;
    width: calc(100vw - 255px);
    max-width: 900px;
    height: 0;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
}
.vidContainer
{
    width: 100%;
    height: 0;
    padding-bottom: 56%;
    position: relative;
}
.vidContainer iframe
{
    position: absolute;
    width: 85%;
    height: 85%;
    margin: 0 auto;
    top: calc(50% + 20px);
    left: 0;
    right: 0;
    transform: translate(0, -50%);
}
.openVideo
{
    height: auto;
    padding-bottom: 30px;
    padding-top: 80px;
}