/* set z-index */
.slide:first-child
{
  z-index: 6;
  margin-top: 0;
  padding-top: 30px;
}
.slide:nth-child(2)
{
  z-index: 5;
}
.slide:nth-child(3)
{
  z-index: 4;
}
.slide:nth-child(4)
{
  z-index: 3;
}
.slide:nth-child(5)
{
  z-index: 2;
}
.slide:nth-child(6)
{
  z-index: 1;
  padding-bottom: 30px;
}

/* ------------- ABOUT ------------- */

#about .bg
{
    background-image: linear-gradient(#253E5E, #586742);
}
#about .bg img
{
    height: 100%;
    position: absolute;
    top: 0;
    left: -20%;
    right: 0;
    margin: 0 auto;
    filter: blur(2px) grayscale(1);
    mix-blend-mode: multiply;
}

#about .content-wrapper
{
    height: 75vh;
    align-items: flex-end;
    justify-content: flex-end;
}


/* play button */
#about button
{
    border: none;
    background: none;
    cursor: pointer;
    transform: scale(.9);
}
#about button:hover
{
    transform: scale(1);
}
#about button img
{
    max-width: 100px;
}

#about h1
{
    text-align: right;
}

#copy
{
    width: 70%;
}

/* SKILLS */

#Skills
{
    width: 60%;
}
#Skills ul
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 0;
    margin: 7.5px 0;
}
#Skills ul li
{
    flex-grow: 1;
    width: calc(100% / 5);
    max-width: 100px;
    position: relative;
    cursor: pointer;
}
#Skills ul li .tooltip
{
    padding: 5px 10px;
    left: 50%;
    bottom: 0;
    max-width: 150px;
    min-width: 100%;
    transform: translate(-50%, calc(100% + 15px));
    position: absolute;
    border-radius: 5px;
    background: #586742;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}
#Skills ul li .about
{
    padding: 5px 10px;
    top: 0;
    left: 50%;
    width: 250px;
    min-width: 100%;
    transform: translate(-50%, calc(-100% - 15px));
    position: absolute;
    border-radius: 5px;
    background: #586742;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}
#Skills ul li .tooltip::after
{
    content: "";
    position: absolute;
    top: -20px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #586742 transparent;
}
#Skills ul li .about::after
{
    content: "";
    position: absolute;
    bottom: -20px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #586742 transparent transparent transparent;
}
#Skills ul li img
{
    width: 100%;
    filter: invert(1); /* TEMPORARY! */
}
#Skills ul li:hover *
{
    opacity: 1;
}

#Skills ul li:first-child p
{
    transform: translate(calc(-50% - -70px), calc(-100% - 15px));
}
#Skills ul li:first-child p:after
{
    left: calc(50% - 80px);
}
#Skills ul li:last-child p
{
    transform: translate(calc(-50% + -70px), calc(-100% - 15px));
}
#Skills ul li:last-child p:after
{
    left: calc(50% + 60px);
}

/* ------------- EDUCATION ------------- */

#education .bg
{
    background-color: #253E5E;
    background-image: var(--lines);
}

#education .content-wrapper
{
    justify-content: space-evenly;
    align-items: center;
}

#education .slide-wrapper
{
    width: 80%;
    min-width: 260px;
    position: relative;
}

/* buttons */
#education .sliderView
{
    margin: 0;
    overflow: hidden;
}
#education .slick-dots
{
    width: 80%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    transform: translateY(-100%);
}
#education .slick-dots li
{
    margin: 0;
    height: auto;
    width: calc(100% / 6);
}
#education .slick-dots button
{
    width: calc(100% - 10px);
    max-width: 50px;
    height: auto;
    padding: 3px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid transparent;
    opacity: .5;
}
#education .slick-dots button.req
{
    opacity: 1;
    background: #4994D0;
}
#education .slick-dots li button:before
{
    display: none;
}
#education .slick-dots li:hover button
{
    opacity: 1;
}
#education .slick-dots li.slick-active button
{
    opacity: 1;
    border: 2px solid white;
}
#education .slick-dots button img
{
    width: 100%;
    height: auto;
    filter: invert(1);
}
.slick-thumbs
{
    display: none;
}

/* slides */
#education .ed-info
{
    width: 100%;
    display: inline-block;
}
.ed-info .ed-wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.ed-info .copy
{
    width: calc(100% - 265px);
    flex-grow: 1;
    min-width: 245px;
    max-width: 500px;
}
.ed-info .copy p
{
    margin-bottom: 15px;
}
#education .ed-info h2
{
    text-align: left;
    margin-bottom: 15px;
}
#education .ed-info img
{
    width: 250px;
    height: 250px;
    padding-left: 15px;
    filter: invert(1);
}

/* SCHOOLS */

#education .schools
{
    min-width: 260px;
}
#education .schools li,
#education .schools li p
{
    text-align: center;
    margin-top: 5px;
    color: whitesmoke;
}

/* ------------- STATS ------------- */

#stats .bg
{
    background-color: whitesmoke;
    background-image: var(--topography);
}

#stats .copy
{
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
    color: var(--light-green);
    font-weight: 500;
}

#stats .hours,
#stats .level
{
    min-width: 260px;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#stats .level
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* hours */
#stats .pie
{
    width: 30%;
    position: relative;
    min-width: 260px;
    margin-bottom: 30px;
}
#stats #tooltip-canvas-text
{
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#stats #tooltip-canvas-text p,
#stats #tooltip-canvas-text h1,
#stats .bars p
{
    margin: 0;
    color: var(--blue);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
#stats #tooltip-canvas-text p,
#stats .bars p
{
    font-size: 1em;
    font-weight: 500;
}
#stats #tooltip-canvas-text h1,
#stats .bars p span
{
    font-size: 2em;
    font-weight: 800;
    color: var(--light-green);
}

#stats .bars
{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 530px;
    padding-right: 60px;
}
#stats .bars .bar-container
{
    position: relative;
    height: 15px;
    border-radius: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
#stats .bars .bar-container:before
{
    position: absolute;
    content: '0';
    color: var(--blue);
    font-weight: 500;
    bottom: -20px;
    left: 0px;
    font-size: 12px;
}
#stats .bars .bar-container:after
{
    position: absolute;
    content: '20';
    color: var(--blue);
    font-weight: 500;
    bottom: -20px;
    right: 0px;
    font-size: 12px;
}
#stats .bars .bar-container div
{
    height: 100%;
    border-radius: 50px;
}
#stats .bars .bar-container div:first-child
{
    width: 0;
    margin-right: 10px;
    background: var(--light-green);
}
#stats .bars .bar-container div:last-child
{
    flex-grow: 1;
    background: rgb(0,0,0,.1);
}

hr
{
    width: 80%;
    height: 3px;
    border: none;
    margin: 30px auto;
    border-radius: 50px;
    background: var(--light-blue);
}

/* level */

.level .dot-grid
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 80%;
    min-width: 260px;
    max-width: 700px;
}

.level .dot
{
    width: calc(15vmin - 30px);
    height: calc(15vmin - 30px);
    min-width: 30px;
    min-height: 30px;
    padding: 5px;
    border-radius: 50%;
    position: relative;
    color: white;
    box-shadow: 0 0 10px black;
    z-index: 2;
}
.level .low
{
    background: var(--light-green);
    grid-column: 1 / 2;
    grid-row: 1;
    justify-self: left;
}
.level .med
{
    background: var(--blue);
    grid-column: 2 / 3;
    grid-row: 1;
    justify-self: center;
}
.level .high
{
    background: var(--green);
    grid-column: 3 / 4;
    grid-row: 1;
    justify-self: right;
}
.level .rank
{
    width: calc(20vmin - 30px);
    height: calc(20vmin - 30px);
    min-width: 60px;
    min-height: 60px;
    display: table;
}

.level .dot.rank h3
{
    font-size: 1.3em;
    font-weight: 800;
    letter-spacing: 2px;
}
.level .dot h3
{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.level .line
{
    top: 50%;
    left: 0;
    right: 0;
    width: 90%;
    height: 5px;
    margin: 0 auto;
    background: rgb(0, 0, 0, .2);
    position: absolute;
}

/* ------------- SALARY ------------- */

#salary .bg
{
    background-color: #253E5E;
    background-image: var(--lines);
}

#salary .content-wrapper
{
/*
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
*/
    display: grid;
    grid-gap: 30px;
    grid-template-columns: calc(60% - 15px) calc(40% - 15px);    
    align-items: center;
    justify-items: center;
}

#salary h2,
#salary p
{
    text-align: center;
}

/* graph */
#salary .chart
{
    width: 100%;
    grid-row: 1 / 3;
    grid-column: 1;
    min-width: 260px;
    max-width: 1000px;
    position: relative;
}
#salary .sal-block
{
    width: 100%;
    position: relative;
}
#salary .sal-block canvas
{
    margin: 0 auto;
    min-height: 400px;
}
#salary .chart p
{
    width: calc(100% - 75px);
    margin-top: 15px;
    padding-left: 75px;
}

/* legend */
#salary .legend
{
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    max-width: 1000px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#salary .legend div
{
    margin: 15px;
    padding: 5px 15px;
    background: rgb(225, 225, 225, .2);
    border-radius: 100px;
    border: 5px solid var(--light-blue);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#salary .legend div:last-child
{
    border-color: var(--light-green);
}
#salary .legend div h2,
#salary .legend div p
{
    padding: 0;
    margin: 0;
}

/* options */
#salary .options
{
    grid-row: 1 / 3;
    grid-column: 2;
    width: 100%;
    max-height: 250px;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#salary .options h2
{
    width: 100%;
}
#salary .options select,
#salary .options button
{
    width: 100%;
    height: 40px;
    min-width: 260px;
    max-width: 500px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 1em;
    font-family: "Montserrat";
}
#salary .options button
{
    width: auto;
    min-width: none;
    text-transform: none;
}

/* ------------- VIDEOS ------------- */

#video .bg
{
    background-color: whitesmoke;
    background-image: var(--topography);
}

#video .video-container
{
    width: 75%;
    height: 0;
    margin: 0 auto;
    background: var(--blue);
    padding-bottom: calc(51% * .75);
    position: relative;
}
#video .video-container iframe
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#video #toTop
{
    margin: 0 auto;
    margin-top: 30px;
    padding: 5px 15px;
    border-radius: 50px;
    background: var(--light-blue);
    border: none;
    cursor: pointer;
    transform: scale(.9);
}
#video #toTop:hover
{
    transform: scale(1);
}

/* ------------- SPONSORS ------------- */

#sponsors .content-wrapper
{
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 30px;
    justify-content: space-evenly;
}
#sponsors h1
{
    width: 100%;
    margin-bottom: 30px;
}
#sponsors .grid
{
    width: 50%;
    flex-grow: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#sponsors .grid a
{
    flex-shrink: 1;
    max-width: 250px;
    margin: 7.5px;
}
#sponsors .grid img
{
   flex-shrink: 1;
    max-width: 200px;
    max-height: 100px;
    margin-right: 30px;
    margin-bottom: 15px;
}

#map
{
    width: 40%;
    flex-grow: 1;
    height: 300px;
}
#map iframe
{
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, .75);
}

/* ------------- MEDIA QUERIESS ------------- */

@media (max-width: 399px)
{
    #stats .bars p
    {
        width: 80%;
        margin: 15px auto;
    }
}
@media (max-width: 499px)
{
    #about h1
    {
        font-size: 1.75em;
    }
    #Skills ul li .about
    {
        width: 200px;
    }
    
    /*  education  */
    #education .sliderView .slick-dots
    {
        width: 100%;
    }
    #education .ed-info
    {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .ed-info .copy
    {
        flex-grow: 0;
    }
    #education .ed-info img
    {
        width: 150px;
        height: 150px;
        padding-left: 0;
    }
}
@media (max-width: 599px)
{
    .level .dot-grid
    {
        margin-bottom: 30px;
    }
    .level .dot h3
    {
        top: calc(100% + 30px);
        color: var(--blue);
    }
}
@media (max-width: 799px)
{
    #about #Skills
    {
        width: 100%;
    }
    #about #copy
    {
        width: 100%;
    }
    
    #education .ed-info h2
    {
        text-align: center;
    }
    
    #salary .chart
    {
        grid-row: 1;
        grid-column: 1/3;
    }
    #salary .chart p
    {
        padding: 0;
        width: 100%;
    }
    #salary .options
    {
        grid-row: 3 !important;
        grid-column: 1/3;
    }
    #salary .legend
    {
        grid-row: 2;
        grid-column: 1/3;
    }
}
@media (max-width: 874px)
{
    #stats .bars
    {
        width: 100%;
        padding-right: 0;
    }
}
@media (min-width: 1200px)
{    
    #about #Skills
    {
        width: 70%;
    }
    #about #copy
    {
        width: 80%;
    }
}
@media (min-width: 1300px)
{    
    #about #Skills
    {
        width: 60%;
    }
    #about #copy
    {
        width: 70%;
    }
}