/* blue: #253E5E */
/* light blue: #4994D0 */
/* dark green: #434F39 */
/* light green: #586742 */
/* gray: #999999 */


/*   CONTENT     */

#content
{
    z-index: 4;
    width: 100vw;
    display: grid;
    grid-row-gap: 90px;
    grid-template-rows: 100vh repeat(1, 1fr);
    grid-template-columns: 100vw;
    justify-content: end;
    filter: drop-shadow(0 -15px 15px black);
    align-items: end;
    pointer-events: none;
    position: absolute;
    top: 0;
}

hr
{
    width: 75%;
    z-index: 0;
}

/*    CLIPS    */

#greenClip
{
    filter: drop-shadow(0 15px 15px black);
}
#greenClip .clip
{
    width: 800px;
    height: 400px;
    position: absolute;
    left: -400px;
    background-image: url(../img/topographyGreen.png);
    background-size: 300px;
    background-position: left bottom;
    -webkit-clip-path: polygon(100% 0, 50% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 50% 100%, 0 100%, 0 0);
}

.blueClip
{
    width: 100vw;
    height: 100%;
    position: absolute;
    grid-row: 1/11;
    grid-column: 1;
    align-self: end; 
    background-image: url(../img/topographyBlue.png);
    background-size: 300px;
    -webkit-clip-path: polygon(100% 0, 0% 100vw, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100vw, 0 100%, 100% 100%);
}

/*    LINES    */

.colorLine
{
    width: 1000px;
    height: 20px;
    background: #586742;
}
.whiteLine
{
    width: 1000px;
    height: 10px;
    background: #fff;
    border-radius: 50px;
}
#greenLines
{
    z-index: 6;
    position: absolute;
    top: -185px;
    transform: rotate(-45deg);
}
#greenLines .colorLine
{
    background: #586742;
}
#greenLines .whiteLine
{
    margin-bottom: 10px;
    transform: translateX(100px);
}
#blueLines
{
    z-index: 6;
    position: absolute;
    top: 350px;
    right: -200px;
    transform: rotate(-45deg);
}
#blueLines .colorLine
{
    background: #4994D0;
    transform: translateX(-400px);
}
#blueLines .whiteLine
{
    margin-top: 10px;
    transform: translateX(-500px);
}

/*    ABOUT     */

#about
{
    width: calc(100% - 60px);
    max-height: calc(100vh - 150px);
    justify-self: right;
    justify-items: right;
    margin-bottom: 30px;
    padding: 0 30px;
    display: grid;
    grid-row-gap: 10px;
    z-index: 4;
    pointer-events: all;
}
h1
{
    width: 50%;
}
#about h4
{
    width: 50%;
    text-align: right;
}
#about h4 a:hover
{
    color: white;
    letter-spacing: 2px;
}
#Copy
{
    width: 70%;
}

/*    SKILLS    */

#Skills
{
    width: 60%;
}
#Skills ul
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 7.5px 0;
}
#Skills ul li
{
    flex-grow: 1;
    width: calc(100% / 5);
    max-width: 100px;
    position: relative;
    cursor: pointer;
}
#Skills ul li .tooltip
{
    padding: 5px 10px;
    left: 50%;
    bottom: 0;
    max-width: 150px;
    min-width: 100%;
    transform: translate(-50%, calc(100% + 15px));
    position: absolute;
    border-radius: 5px;
    background: #586742;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}
#Skills ul li.left .about:after
{
    left: 0;
    transform: translateX(150%);
}
#Skills ul li.right .about:after
{
    left: calc(100% - 55px);
}
#Skills ul li .about
{
    padding: 5px 10px;
    top: 0;
    left: 50%;
    width: 250px;
    min-width: 100%;
    transform: translate(-50%, calc(-100% - 15px));
    position: absolute;
    border-radius: 5px;
    background: #586742;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}
#Skills ul li .tooltip::after
{
    content: "";
    position: absolute;
    top: -20px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #586742 transparent;
}
#Skills ul li .about::after
{
    content: "";
    position: absolute;
    bottom: -20px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #586742 transparent transparent transparent;
}
#Skills ul li img
{
    width: 100%;
    filter: invert(1); /* TEMPORARY! */
}
#Skills ul li:hover *
{
    opacity: 1;
}

/*    VIDEO    */

#video-container
{
    height: 100vh;
    width: 100vw;
    z-index: 0;
    position: absolute;
    background: black;
    pointer-events: none;
}
#video-container #teaser
{
    height: 100vmax;
    margin-left: -50vmin;
    filter: blur(2px);
    opacity: 1;
}
#video-container iframe
{
    position: absolute;
    top: 180px;
    left: 0;
    height: 56.25vw;
    max-height: calc(100vh - 400px);
    min-height: 315px;
    width: calc(100vw - 60px);
    z-index: -1;
    margin: 0 30px;
    margin-top: 25px;
}
#openVideo
{
    z-index: 4;
    position: absolute;
    left: 350px;
    top: 350px;
    width: 75px;
    height: 75px;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}
#openVideo svg:hover
{
    opacity: 1;
}
#openVideo svg 
{
    stroke: white;
    stroke-width: 8px;
    fill: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: .6;
}
#openVideo svg circle
{
    stroke-width: 5px;
}
#openVideo.view #exit
{
    transform: scale(0);
    opacity: 0;
}
#openVideo.open #play
{
    transform: scale(0);
    opacity: 0;
}

/*    SPONSORS    */

#sponsors
{
    width: calc(100% - 60px);
    padding: 0 30px;
/*
    grid-row: 2;
    grid-column: 1;
*/
    z-index: 4;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    pointer-events: all;
}
#sponsors h2
{
    width: 100%;
    margin-bottom: 30px;
}
#sponsors a
{
    flex-shrink: 1;
    max-width: 250px;
    margin: 7.5px;
}
#sponsors a img
{
    width: 100%;
}

/*    LINKS    */

#links
{
    padding: 0 30px;
    display: grid;
    grid-gap: 30px;
    z-index: 4;
    grid-template-columns: calc(((100% - 60px) / 3) + ((100% - 60px) / 15)) calc(((100% - 60px) / 3) + (100% / 15)) auto;
    pointer-events: all;
}
#links a
{
    font-weight: 800;
}
#links #jobs
{
    grid-column: 1;
}
#links #schools
{
    grid-row: 1;
    grid-column: 2;
}
#links li, #links li p
{
    text-align: center;
    margin-top: 5px;
    color: #4994D0;
}
#links svg
{
    grid-column: 2/4;
    width: 100%;
    grid-row: 1;
}
#links svg .colorLine
{
    fill: none;
    stroke-width: 3px;
    transition: 0.2s;
}
#links svg .whiteLine
{
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linecap: round;
    transition: 0.2s;
}




/*    MEDIA QUERIES    */

@media (max-width: 499px)
{
    #greenLines
    {
        display: none;
    }
   
    .blueClip
    {
/*        height: 95%;*/
    }
    #blueLines
    {
        display: none;
    }
    
    #content #about h1
    {
        font-size: 2.25em;
        width: 100%;
    }
    
    #links
    {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
    #links #jobs
    {
        grid-row: 1;
        grid-column: 1;
    }
    #links #schools
    {
        grid-row: 2;
        grid-column: 1;
    }
    #links svg
    {
        grid-column: 1;
        width: 100%;
        grid-row: 3;
    }
    
}
@media (max-width: 799px)
{
    #video-container #teaser
    {
        height: calc(100vh / 1.25);
    }
    body #openVideo.view
    {
        left: 35vw;
        top: 40vw;
        transform: scale(.95) translate(-50%,0);
    }
    
    #about h1
    {
        width: 70%;
    }
    #about #Skills
    {
        width: 100%;
    }
    #about #Copy
    {
        width: 100%;
    }
    
    #greenClip .clip
    {
        width: 100vw;
        height: 50vw;
        position: absolute;
        left: -50vw;
    }
    #greenLines
    {
        width: 100vw;
        left: 13vw;
    }
    #greenLines .colorLine
    {
        transform: translateX(-150px);
    }
    #greenLines .whiteLine
    {
        transform: translateX(-50px);
    }
}
@media (min-width: 1050px)
{
    .blueClip
    {
        height: calc(100% + 200px);
    }
    #blueLines
    {
        z-index: 6;
        position: absolute;
        top: 150px;
        right: -200px;
        transform: rotate(-45deg);
    }
    
    #about h1
    {
        width: 60%;
    }
    #about #Skills
    {
        width: 70%;
    }
    #about #Skills ul
    {
        justify-content: center;
    }
    #about #Copy
    {
        width: 80%;
    }
}
@media (min-width: 1200px)
{
    .blueClip
    {
        height: calc(100% + 400px);
    }
    #blueLines
    {
        z-index: 6;
        position: absolute;
        top: -50px;
        right: -200px;
        transform: rotate(-45deg);
    }
    
    #about h1
    {
        width: 65%;
    }
    #about #Skills
    {
        width: 70%;
    }
    #about #Copy
    {
        width: 80%;
    }
}
@media (min-width: 1300px)
{
    #openVideo
    {
        left: 25vw;
        top: 20vw;
        transform: scale(1.5) translate(-50%,0);
    }
    
    .blueClip
    {
        height: calc(100% + 550px);
    }
    #blueLines
    {
        z-index: 6;
        position: absolute;
        top: -200px;
        right: -200px;
        transform: rotate(-45deg);
    }
    
    #about h1
    {
        width: 55%;
    }
    #about #Skills
    {
        width: 60%;
    }
    #about #Copy
    {
        width: 70%;
    }
    
    #sponsors
    {
        width: calc(80% - 60px);
        justify-self: end;
    }
}

/*    ANIMATIONS    */

*
{
    transition: all .5s;
}

.whiteLine
{
    transition: all 1s;
}

/*  open  */

#openVideo.open
{
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 120px;
    width: 50px;
}

#video-container #teaser.open
{
    opacity: 0;
    transition-delay: .25s;
}

#video-container iframe.open
{
    z-index: 10;
    pointer-events: all;
}

#greenClip.open div
{
    top: -50vw;
    transition-delay: .25s;
}

#greenLines.open *
{
    transform: translateX(500px);
}

#content.open
{
    top: 400vh;
    transition-delay: .25s;
}

#blueLines.open *
{
    transform: translateX(-400vh);
}

#stats.open
{
    left: calc(100vw + 125px);
}

/*
#stats #statBlue1.open
{
    left: -100vmax;
}

#stats #statBlue2.open
{
    right: -100vmax;
}
*/

#stats #statExit.open
{
    right: -100vmax;
}

/*  view  */

#greenLines.greenView .colorLine
{
    transform: translateX(0px);
    transition-delay: .25s;
}

#greenLines.greenView .whiteLine
{
    transform: translateX(100px);
    transition-delay: .25s;
}

#openVideo.view
{
    transform: scale(1.5) translate(-50%, -50%);
}

/*  stats  */

#stats.stats
{
    right: 0;
    left: auto;
/*
    left: -180%;
    transform: scale(.3);
*/
}
