/*    STATS    */

/*
#stats
{
    position: fixed;
    left: 100%;
    bottom: 0;
    width: calc(100% - 60px);
    height: calc(100% - 150px);
    padding: 120px 30px 30px 30px;
    z-index: 8;
    background-image: url(../../img/topographyGreen.png);
    background-size: 300px;
}
#statTease, #statExit
{
    width: 125px;
    height: 65px;
    position: absolute;
    left: -124px;
    bottom: 30px;
    cursor: pointer;
    z-index: 10;
    opacity: .5;
}
#statExit
{
    left: 0;
}
#statTease:hover
{
    width: 150px;
    left: -149px;
    opacity: 1;
}
#statExit:hover
{
    width: 150px;
    opacity: 1;
}
#statTease div
{
    width: 100%;
    height: 100%;
    background: #586742;
    background-image: url(../../img/topographyGreen.png);
    background-size: 300px;
    background-position: right bottom;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
}
#statExit div
{
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0% 100%, 0% 0%);
    clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0% 100%, 0% 0%);
    background-image: url(../../img/topographyBlue.png);
    background-size: 300px;
    background-position: left bottom;
}
#statTease div img
{
    width: 50px;
    height: 50px;
    margin: 8px 40%;
}
#statExit div img
{
    width: 50px;
    height: 50px;
    margin: 8px 15%;
}
*/

/*    STAT CONTENT    */

/*
#statContent
{
    width: 100%;
    height: 100%;
    position: relative;
}
#statContent .slick-prev, #statContent .slick-next
{
    left: 50%;
    z-index: 8;
    transform: translate(-50%, 0) rotate(90deg) scale(2);
}
#statContent .slick-next
{
  top: unset;
  bottom: 7px;
}
#statContent .slick-prev
{
  top: 7px;
}
#statContent .slick-list
{
    height: 100% !important;
    overflow: hidden;
}
#statContent .slick-track
{
    height: 400% !important;
}
*/


#education, #level, #hours, #salary
{
    position: relative;
    padding: 0 30px;
    pointer-events: all;
}

/*    EDUCATION    */

#education
{
/*
    grid-row: 3;
    grid-column: 1;
*/
}
/* buttons */
#education .sliderView
{
/*    height: 100%;*/
    margin: 0;
}
#education .sliderView .slick-track
{
    margin-bottom: 60px;
}
#education .sliderView .slick-dots
{
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
}
#education .slick-dots li
{
    margin: 0;
    height: auto;
    width: calc(100% / 6);
}
#education .slick-dots button
{
    width: calc(100% - 10px);
    max-width: 50px;
    height: auto;
    padding: 3px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid transparent;
    opacity: .5;
}
#education .slick-dots button.req
{
    opacity: 1;
    background: #4994D0;
}
#education .slick-dots li button:before
{
    display: none;
}
#education .slick-dots li:hover button
{
    opacity: 1;
}
#education .slick-dots li.slick-active button
{
    opacity: 1;
    border: 2px solid white;
}
#education .slick-dots button img
{
    width: 100%;
    height: auto;
    filter: invert(1);
}
.slick-thumbs
{
    display: none;
}
/* slides */
#education .ed-info
{
/*    height: 100%;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.ed-info .copy
{
    width: calc(100% - 265px);
    flex-grow: 1;
    min-width: 260px;
    max-width: 500px;
}
.ed-info .copy p
{
    margin-bottom: 15px;
}
.ed-info .copy a:hover
{
    font-weight: 800;
    color: white;
    letter-spacing: 2px;
}
#education .ed-info h2
{
    text-align: left;
    margin-bottom: 15px;
}
#education .ed-info img
{
    width: 250px;
    height: 250px;
    padding-left: 15px;
    filter: invert(1);
}

/*    LEVEL    */

#level
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#level .dot-grid
{
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 60vmin;
    height: 60vmin;
    min-width: 260px;
    min-height: 260px;
    max-width: 500px;
    max-height: 500px;
}
#level .copy
{
    width: 100%;
    max-width: 500px;
}
#level h2
{
    text-align: left;
    margin-bottom: 15px;
}
#level .low, #level .med, #level .high
{
    width: calc(15vmin - 30px);
    height: calc(15vmin - 30px);
    min-width: 45px;
    min-height: 45px;
    border-radius: 50%;
    position: relative;
    color: white;
    margin: 0 15px;
    box-shadow: 0 0 10px black;
}
#level .low:after, #level .med:after, #level .high:after
{
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    box-shadow: 0 0 25px black;
    border-radius: 50%;
    background: white;
    content: " ";
    display: inline-block;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}
#level .low
{
    background: rgb(73,148,208);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4994d0', endColorstr='#253e5e',GradientType=1 );
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: left;
    align-self: end;
}
#level .med
{
    background: #434F39;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
}
#level .high
{
    background: #253E5E;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: right;
    align-self: start;
}
#level .rank
{
    width: calc(25vmin - 30px);
    height: calc(25vmin - 30px);
    min-width: 75px;
    min-height: 75px;
    display: table;
}
#level .rank h3
{
    font-size: 1.75em;
}
.dot-grid h3
{
    position: absolute;
    top: 50%;
    left: -15px;
    right: -15px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25em;
    transform: translateY(-50%);
}

/*    HOURS    */

#hours
{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 40% 60%;
    justify-items: center;
    align-items: center;
/*
    grid-row: 4;
    grid-column: 1;
*/
}
#hours .block
{
    min-width: 260px;
    width: 100%;
}
#hours .copy
{
    grid-column: 1/3;
    grid-row: 2;
    margin: 0;
    max-width: 700px;
}
#hours .pie
{
    grid-column: 1;
    grid-row: 1/2;
}
#hours .pie canvas
{
    width: 100% !important;
    height: auto !important;
}
#hours .pie h2
{
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}
#hours .bars
{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-gap: 15px;
    max-width: 700px;
    padding-right: 60px;
    width: calc(100% - 90px);
}
#hours .bars .bar-container
{
    background: rgb(255,255,255,.25);
    border: 1px solid white;
    position: relative;
    height: 45px;
}
#hours .bars .bar-container:before
{
    position: absolute;
    content: '0';
    color: white;
    bottom: -20px;
    left: 0px;
    font-size: 12px;
}
#hours .bars .bar-container:after
{
    position: absolute;
    content: '20';
    color: white;
    bottom: -20px;
    right: 0px;
    font-size: 12px;
}
#hours .bars .bar-container div
{
    width: 0;
    background: #253E5E;
    border: 1px solid white;
    position: absolute;
    margin: 0;
    top: -1px;
    bottom: -1px;
    left: -1px;
}

/*    SALARY    */

#salary
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
/*
    grid-row: 5;
    grid-column: 1;
*/
}
#salary .sal-block
{
    width: calc(50% - 15px);
    min-width: 260px;
    max-width: 700px;
    position: relative;
}
#salary .sal-block canvas
{
    margin: 0 auto;
}
#salary .sal-block .guide
{
    margin-top: 45px;
}
#salary .sal-block .guide .low
{
    color: white;
    font-size: 12px;
    margin-left: 8%;
    display: inline-block;
}
#salary .sal-block .guide .high
{
    float: right;
    color: white;
    font-size: 12px;
    margin-right: 8%;
    display: inline-block;
}
#salary .sal-block .level
{
    margin: 0;
    margin-top: -4vmax;
}
#salary .sal-block #EntrySalary,
#salary .sal-block #SeniorSalary
{
    margin-top: 15px;
}
#salary .sal-block #EntrySalary span,
#salary .sal-block #SeniorSalary span
{
    font-size: calc(1em + 1vmin);
    font-weight: 800;
}
#salary #EntrySalary:before,
#salary #SeniorSalary:before
{
    content: '';
    width: 15px;
    height: 15px;
    margin-right: 15px;
    background: #586742;
    display: inline-block;
    border: 2px solid white;
}
#salary #CompEntrySalary:before,
#salary #CompSeniorSalary:before
{
    content: '';
    width: 15px;
    height: 15px;
    margin-right: 15px;
    background: #4994D0;
    display: inline-block;
    border: 2px solid white;
}
#salary h2, #salary p
{
    text-align: center;
}
#salary #CompEntrySalary,
#salary #CompSeniorSalary
{
    visibility: hidden;
}
#salary #CompEntrySalary span,
#salary #CompSeniorSalary span
{
    font-size: calc(1em + 1vmin);
    font-weight: 800;
}
#salary .options
{
    grid-column: span 2;
    text-align: center;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#salary .options h2
{
    width: 100%;
}
#salary .options p
{
    width: 100%;
    margin: 15px 0;
}
#salary .options select
{
    width: calc(50% - 15px);
    height: 40px;
    min-width: 260px;
    max-width: 500px;
    margin-top: 1vmax;
    border-radius: 5px;
    font-size: 1em;
}


/*    MEDIA QUERIES    */

@media (max-width: 499px)
{
    /*  education  */
    #education .sliderView .slick-dots
    {
        width: 100%;
    }
    #education .ed-info
    {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .ed-info .copy
    {
        flex-grow: 0;
    }
    #education .ed-info img
    {
        width: 150px;
        height: 150px;
        padding-left: 0;
    }
    
    /*  level  */
    #level .copy
    {
        align-self: flex-end;
    }
    #level .dot-grid .rank h3
    {
        top: 125%;
        font-size: 1em;
        transform: translateY(0);
    }
        
    /*  hours  */
    #hours .copy
    {
        grid-column: 1/3;
        grid-row: 3;
    }
    #hours .pie
    {
        grid-column: 1/3;
        grid-row: 1;
    }
    #hours .pie h2
    {
        width: 100%;
    }
    #hours .bars
    {
        grid-column: 1/3;
        grid-row: 2;
        padding: 0;
        width: calc(100% - 15px);
    }
    #hours .bars .bar-container
    {
        margin: 0;
        height: 30px;
    }
    #hours .bars h2
    {
        margin: 0;
    }
    
    /*  salary  */
    #salary .options select
    {
        height: 20px;
        font-size: .85em;
    }
}
@media (max-width: 799px)
{
    
    /*  level  */
    .dot-grid h3
    {
        top: 135%;
        font-size: 1em;
        transform: translateY(0);
    }
    .dot-grid .rank h3
    {
        top: 50%;
        font-size: 1em;
        transform: translateY(-50%);
    }
    
    /*  hours  */
    #hours
    {
        width: calc(100% - 60px);
    }

    /*  salary  */
    #salary .sal-block
    {
        width: 100%;
        margin: 15px 0;
    }
    #salary .options select
    {
        width: 100%;
    }
}
@media (min-width: 1599px)
{
    #salary .sal-block .guide
    {
        margin-top: 60px;
    }
}
@media (min-width: 1999px)
{
    #salary .sal-block .guide
    {
        margin-top: 90px;
    }
}